.chart {
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 12px;
    height: 12px;
    background-color: lightgray;
    display: inline-block;
    position: relative;
    margin: 1.5px;
}

.day:hover .date-tooltip {
    display: block;
}

.date-tooltip {
    width: 120px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    display: none;
}